*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.body {
    display: flex;
    background-color: aquamarine;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding-left: 92px;
    padding-right: 92px
}

.header-left, .header-right {
    list-style-type: none;
    display: flex;
    margin: 8px;
    gap: 12px;
}

.header-left {
    font-size: 18px;
    font-weight: bold;
}

.intro {
    display: flex;
    padding: 100px;
    background-color: aquamarine;
    justify-content: space-between;
    gap: 36px;
}

.main-title {
    display: flex;
    font-size: 50px;
}

.intro-body {
    display: flex;
}

button.sign-up {
    padding: 4px 12px;
    border-radius: 8px;
    background-color: blue;
    color: white;
}

.intro-left {
    display: flex;
    flex-direction: column;
}

.intro-right {
    display: flex;
    background-color: black;
    color: white;
}