*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.body {
    display: flex;
    background-color: aquamarine;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding-left: 92px;
    padding-right: 92px
}

.header-left, .header-right {
    list-style-type: none;
    display: flex;
    margin: 8px;
    gap: 12px;
}

.header-left {
    font-size: 18px;
    font-weight: bold;
}

.intro {
    display: flex;
    margin: 100px;
    background-color: aquamarine;
}

.main-title {
    display: flex;
    font-size: 50px;
}