*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.body {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(25, 25, 87);
    color: white;
    padding-left: 92px;
    padding-right: 92px;
}

.header-left, .header-right {
    list-style-type: none;
    display: flex;
    margin: 8px;
    gap: 12px;
}

.header-left {
    font-size: 18px;
    font-weight: bold;
}

.intro {
    display: flex;
    padding: 100px;
    background-color: rgb(25, 25, 87);
    color: white;
    justify-content: space-between;
    gap: 50px;
}

.main-title {
    display: flex;
    font-size: 50px;
}

.intro-body {
    display: flex;
    padding-top: 4px;
    padding-bottom: 10px;
}

button.sign-up {
    padding: 4px 12px;
    border-radius: 8px;
    background-color: rgb(64, 64, 157);
    color: white;
    flex: 1, 1, 0px;
}

.intro-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.intro-right {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.section-1-title {
    text-align: center;
    font-size: 40px;
}